@media (max-width: 500px) {
    .my-main-wrapper {
        padding: 0px 30px;
    }

    .hero-section {
        padding: 85px 0 100px;
    }

    .breatcome-area {
        padding: 50px 0 20px;
    }
}